@import "~bootstrap/scss/bootstrap";

header {
    background-color: #0282f9;
}
.jumbotron {
    min-height: 45vh;
    background-image: url(../img/jumbotron.jpg);
}

.thumbs > img {
    max-height: 150px;
}

.middle-bar {
    min-height: 20vh;
    background-color: #0282f9;
}

.img-box {
    width: calc(100% / 5);

    // align-items: center;
}

.img-box > img {
    max-height: 7.5vh;

    // align-items: center;
}

footer {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
